<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>applicationId</key>
	<string>18cc6d80-183e-4e78-89fe-fa7c64cdf2c9</string>
	<key>applicationSecret</key>
	<string>e23ad515a7ac9da1e6e01a2aa618b435a50ad9c2</string>
	<key>applicationRoute</key>
	<string>BKonDemo.mybluemix.net</string>
</dict>
</plist>
